body {
    background-image: url(img/board-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;

}

canvas {
    display: block;
    cursor: none;
}

#gameCanvas {
    height: 100%;
    width: 100%;
}

#gameOverScreen {
    width: 100%;
    height: 100%;
    background-color: rgba(78, 78, 78, 0.655);
}