body {
    background-image: url(img/board-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#hp {
    display: float;
    float: left;
    width: 20rem;
}

.heart {
    height: 5rem;
    width: auto;
}

#score {
    font-size: 6rem;
    display: float;
    float: right;
    color: white;
    height: 6rem;
}

#aim {
    height: 10rem;
    width: auto;
    height: 300px;
    aspect-ratio: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

#myCanvas {
    height: 100%;
    width: 100%;
}